@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your CSS styles here */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: #3f495e;
    color: white;
  }


  /* Overlay styles */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  transition: 0.5s;
  z-index: 1000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}

.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.embed.hide {
  display: none;
}

.dots .dot {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dots .dot.active {
  font-weight: bold;
  color: red;
}
